<h2>Order Details</h2>
<p>
  <strong>Customer:</strong>
  <%= @order.user.email %><br>
  <strong>Address:</strong>
  <%= @order.address %><br>
  <strong>Province:</strong>
  <%= @order.province.name %>
</p>

<h3>Order Items</h3>
<ul>
  <% @order.order_items.each do |item| %>
    <li>
      <%= item.product.name %> - <%= item.quantity %> x <%= number_to_currency(item.unit_price) %>
    </li>
  <% end %>
</ul>

<h3>Total Price: <%= number_to_currency(@order.total_price) %></h3>
<h3>Total Tax: <%= number_to_currency(@order.total_tax) %></h3>
<h3>Total with Tax: <%= number_to_currency(@order.total_with_tax) %></h3>
