<!-- app/views/categories/show.html.erb -->
<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-bold mb-4"><%= @category.name %></h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <div class="bg-white shadow rounded-lg p-4">
        <% if product.images.attached? %>
          <%= image_tag url_for(product.images.first.variant(resize: "100x100")), class: "w-full h-48 object-cover mb-4" %>
        <% else %>
          <p class="text-gray-500 mb-4">No Image</p>
        <% end %>
        <h2 class="text-xl font-semibold mb-2"><%= link_to product.name, product_path(product), class: "text-blue-500 hover:underline" %></h2>
        <p class="text-gray-700 mb-2"><%= product.description %></p>
        <p class="text-gray-900 font-bold mb-2">Price: <%= number_to_currency(product.price) %></p>
        <% if product.sale_price.present? && product.sale_price < product.price && product.sale_price > 0.0 %>
          <p class="text-red-600 font-bold mb-2">Sale Price: <%= number_to_currency(product.sale_price) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-6">
    <%= paginate @products %>
  </div>
</div>
