<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-bold mb-6"><%= @category.name %></h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @category.products.each do |product| %>
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
        <% if product.images.attached? %>
          <div class="mb-4">
            <%= image_tag url_for(product.images.first.variant(resize: "200x200", quality: 100)), class: "w-40 h-40 object-cover" %>
          </div>
        <% else %>
          <div class="mb-4 bg-gray-100 rounded w-40 h-40 flex items-center justify-center text-gray-500">
            No Image
          </div>
        <% end %>
        <h2 class="text-lg font-semibold mb-2 text-center"><%= link_to product.name, product_path(product), class: "text-black hover:text-gray-700" %></h2>
        
        <div class="text-center">
          <p class="text-gray-900 font-bold"><%= number_to_currency(product.price) %></p>
          <% if product.sale_price.present? && product.sale_price != 0.0 %>
            <p class="text-red-600 font-bold"><%= number_to_currency(product.sale_price) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-6">
    <%= paginate @products %>
  </div>
</div>
