<!-- app/views/products/show.html.erb -->
<div class="container mx-auto px-4 py-6">
  <div class="bg-white shadow rounded-lg p-6 flex flex-col md:flex-row">
    <div class="md:w-1/4 w-full pr-6">
      <% if @product.images.attached? %>
        <%= image_tag url_for(@product.images.first.variant(resize_to_limit: [150, 150])), class: "w-full h-auto object-cover" %>
      <% else %>
        <p class="text-gray-500">No Image</p>
      <% end %>
    </div>
    <div class="md:w-3/4 w-full">
      <h1 class="text-3xl font-bold mb-4"><%= @product.name %></h1>
      <p class="text-gray-700 mb-4"><%= @product.description %></p>
      <p class="text-gray-900 font-bold text-2xl mb-4">Price: <%= number_to_currency(@product.price) %></p>
      <% if @product.sale_price.present? && @product.sale_price < @product.price && @product.sale_price > 0.0 %>
        <p class="text-red-600 font-bold text-xl mb-4">Sale Price: <%= number_to_currency(@product.sale_price) %></p>
      <% end %>
    </div>
  </div>
</div>
