<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header>
    <h1></h1>
    <nav>
      
        <%= link_to 'Home', root_path %>
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category) %>
        <% end %>
      
      
      <%= link_to 'Carts', carts_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Contact', contact_path %>

      
    </nav>
  </header>

    <%= yield %>

    <footer>
    <p>&copy; 2024 My Ecommerce Site</p>
  </footer>

  </body>
</html>
